<a href="/chairs">Return to home </a>

<p><b>color</b>: <%= @chair.color%></p>
<p><b>weight</b>: <%= @chair.weight%></p>
<p><b>legs</b>: <%= @chair.legs%></p>
<p><b>style</b>: <%= @chair.style%></p>



