<!DOCTYPE html>
<html>
  <head>
    <title>ChairApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>

    <a href= "/chairs">Return to directory>
    <a href= "/chairs/new">Create a new chair>

    <%= yield %>
  </body>
</html>
